/*MICS*/
.clearFix {zoom:1;}
.field {zoom:1;}
.flashbox li.last-child {border:0 none;}
.products_list {zoom:1;}
.products {zoom:1;}
.products_list li {display:inline;zoom:1;}

/*LAYOUT*/
  #main_col {zoom:1;}

  #footer .categories_products {zoom:1;}



