<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="styles/ie.css" /><![endif]-->
    {% block head %}
	{% endblock head %}
</head>
<body>
<div id="wrapper">
    <div id="header">
     <a href="#"><img src="{{ STATIC_URL }}images/logo.png" alt="Hilliboom" class="logo" /></a>

     <form id="search_form" class="search_form">
        <input type="text" value="T-short" size="40" name="search" id="search" class="input" />
        <input type="submit" value="Найти" id="search_button" class="button" />
     </form>

     <div class="cart">Your cart: 1 Thing - 1 200 $     <div><a href="#">log in</a></div></div>
     Attention! You can open your shop free

     <a href="#"><img src="{{ STATIC_URL }}images/button/open_shop.png" alt="Open your shop" class="open_shop_link" /></a>
	 <ul class="main_menu">
       <li><a href="#">Things</a></li>
       <li><a href="#">All shops</a></li>
       <li><a href="#">About projects</a></li>
     </ul>
{% block header %}
	{% endblock header %}
	</div>

	{% block content %}
	{% endblock content %}

    <div id="footer">
      <div class="footer_block">
        <ul class="categories_products">
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category1.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category2.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category3.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category4.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category5.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category6.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category7.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category8.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category9.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category10.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
           <li>
              <a href="#"><img src="{{ STATIC_URL }}images/img/category11.jpg" alt="" /><span class="title">Shoes</span></a>
           </li>
         </ul>
      </div>
    </div>
</body>
</html>
