{% extends "base.html" %}
{% load thumbnail %}
{% block content %}


       <ul class="products_list">
	   {% for product in products %}
         <li>
            <a href="#"><img src="{{ product.photo|thumbnail_url:'small' }}" alt="{{ product.description }}" /></a>
            <strong>{{ product.price }} $
            <img src="{{ STATIC_URL }}images/icon/icon.png" alt="" />0</strong>
            <div> {{ product.name }} </div>
            <div class="info">{{ product.seller }}</div>
         </li>
		{% endfor %}
		</ul>
{% endblock content %}
