{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
     <ul class="main_menu">
       <li><a href="#">Things</a></li>
       <li><a href="#">All shops</a></li>
       <li><a href="#">About projects</a></li>
     </ul>

    <div id="main_col">
       <p><strong>Chilli Boom</strong> - the perfect place for lovers of Jolly things and a good shopping experience. Original gifts and designer toys, fashionable clothes and unusual footwear, stylish t-shirts and interesting bags, ideas for interior decoration and copyrights. And of course, special discounts!</p>

       <ul class="products_list">
	   {% for product in products %}
         <li>
            <a href="#"><img src="{{ product.photo|thumbnail_url:'small' }}" alt="{{ product.description }}" /></a>
            <strong>{{ product.price }} $
            <img src="{{ STATIC_URL }}images/icon/icon.png" alt="" />0</strong>
            <div> {{ product.name }} </div>
            <div class="info">{{ product.seller }}</div>
         </li>
		{% endfor %}
		</ul>
	</div>
{% endblock content %}
