{% extends "base.html" %}
{% block content %}
    <div id="main_col">
      <h1>Созвездие снов shop</h1>
      <a href="#">http://sozvezdiesnov.ru/</a>
      <img src="images/img/logo_company.jpg" alt="Созвездие снов" class="img_content" />
      <p>Стильное и красивое постельное белье на любой вкус! Оригинальные принты на постельном белье не оставят никого равнодушным! 	Предлагаем так же комплекты с вышивкой, кружевом и стразами! Еще больше оригинальных моделей на нашем сайте http://sozvezdiesnov.ru/</p>

      <h2>Last arrivals</h2>
      <a href="#" class="link">All things</a>
       <ul class="products">
         <li>
            <a href="#"><img src="images/img/product3.jpg" alt="Картинка" /></a>
         </li>
         <li>
            <a href="#"><img src="images/img/product3.jpg" alt="Картинка" /></a>
         </li>
         <li>
            <a href="#"><img src="images/img/product3.jpg" alt="Картинка" /></a>
         </li>
         <li>
            <a href="#"><img src="images/img/product3.jpg" alt="Картинка" /></a>
         </li>
       </ul>

       <h2>Comments</h2>
       <strong>mti6</strong>
       <p>Very good shop!!! I like it!!!</p>

       <form id="comments_form" class="comments_form">
          <textarea title="Комментарий" id="comment" name="comment"></textarea>
          <br />
          <input type="submit" value="add comment" id="add_comment_button" class="button" />
       </form>

    </div>

{% endblock content %}
