{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    <div id="main_col">
      <h1>{{ seller.name }}</h1>
      <a href="{{ seller.website }}">{{ seller.website }}</a>
      <img src="images/img/logo_company.jpg" alt="Созвездие снов" class="img_content" />
      <p>{{ seller.description }}</p>

      <h2>Last arrivals</h2>
      <a href="#" class="link">All things</a>
       <ul class="products">
	   {% for product in products %}
         <li>
            <a href="#"><img src="{{ product.photo|thumbnail_url:'small' }}" alt="{{ product.description }}" /></a>
         </li>
	  {% endfor %}
	  </ul>

       <h2>Comments</h2>
       <strong>mti6</strong>
       <p>Very good shop!!! I like it!!!</p>

       <form id="comments_form" class="comments_form">
          <textarea title="Комментарий" id="comment" name="comment"></textarea>
          <br />
          <input type="submit" value="add comment" id="add_comment_button" class="button" />
       </form>

    </div>

{% endblock content %}
